#body{
    background-color: bisque;
}
#BT{
color: white;
}
#CF{
color: white;
}
#AE{
color: white;
}
#M{
color: white;
}
#FT{
 color: white;
}
#SE{
color: white;
}
#cajas{
    background-color: black;
}
